* {
  padding: 0;
  margin: 0;
}
#botones {
  width: 100%;
  overflow: hidden;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: -webkit- row no-wrap;
  flex-flow: -moz- row no-wrap;
  flex-flow: -ms- row no-wrap;
  flex-flow: -o- row no-wrap;
  flex-flow: row no-wrap;
  justify-content: -webkit- center;
  justify-content: -moz- center;
  justify-content: -ms- center;
  justify-content: -o- center;
  justify-content: center;
  align-items: -webkit- stretch;
  align-items: -moz- stretch;
  align-items: -ms- stretch;
  align-items: -o- stretch;
  align-items: stretch;
}
#botones a {
  display: block;
  width: 50%;
  max-width: 200px;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: #3479b0;
  color: #f9f9fa;
  font-weight: bold;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: -webkit- row no-wrap;
  flex-flow: -moz- row no-wrap;
  flex-flow: -ms- row no-wrap;
  flex-flow: -o- row no-wrap;
  flex-flow: row no-wrap;
  justify-content: -webkit- center;
  justify-content: -moz- center;
  justify-content: -ms- center;
  justify-content: -o- center;
  justify-content: center;
  align-items: -webkit- center;
  align-items: -moz- center;
  align-items: -ms- center;
  align-items: -o- center;
  align-items: center;
  transition: -webkit- all;
  transition: -moz- all;
  transition: -ms- all;
  transition: -o- all;
  transition: all;
}
#botones a p {
  text-align: center;
}
#botones a:hover {
  color: #3479b0;
  background-color: #f9f9fa;
}
#botones a#cerrar {
  background-color: #ec1d42;
}
#botones a#cerrar:hover {
  background-color: #f9f9fa;
  color: #ec1d42;
}
